<header class="main-header">
  <nav class="sidebar">
    <ul>
      <li><a routerLink="/home">🏠 Home</a></li>
      <li><a routerLink="/more-ideas/new">✍️ Enviar Ideia</a></li>
      <li><a routerLink="/more-ideas/list">📋 Ver Ideias</a></li>
      <li><a routerLink="/audit/new">📝 Nova Auditoria 5S</a></li>
      <li><a routerLink="/audit/ranking">🏆 Ranking 5S</a></li>
    </ul>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2025 Melhoria Contínua</p>
</footer>