<header class="main-header">
  <nav>
    <ul class="main-nav-list">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/more-ideas/new" routerLinkActive="active">Enviar Ideia</a></li>
      <li><a routerLink="/more-ideas/list" routerLinkActive="active">Ver Ideias</a></li>
      <li><a routerLink="/audit/new" routerLinkActive="active">Nova Auditoria 5S</a></li>
      <li><a routerLink="/audit/ranking" routerLinkActive="active">Ranking 5S</a></li>
    </ul>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2025 Melhoria Contínua</p>
</footer>