<h1>Bem-vindo à Plataforma de Melhoria Contínua!</h1>

<section>
  <h2>Mais Ideias</h2>
  <div class="home-links">
    <a routerLink="/more-ideas/new" class="button">Enviar Nova Ideia</a>
    <a routerLink="/more-ideas/list" class="button">Ver Lista de Ideias</a>
  </div>
</section>

<section class="section-margin-top">
  <h2>Auditoria 5S</h2>
  <div class="home-links">
    <a routerLink="/audit/new" class="button">Nova Auditoria</a>
    <a routerLink="/audit/ranking" class="button">Ver Ranking</a>
  </div>
</section>