<div class="manage-users-container">
  <h2>Gerenciar Perfis de Usuário</h2>

  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Perfil Atual</th>
        <th>Novo Perfil</th>
        <th>Setor Atual</th>
        <th>Novo Setor</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.profile }}</td>
        <td>
        <select class="form-control" [(ngModel)]="selectedProfile[user.id]">
            <option *ngFor="let profile of profiles" [ngValue]="profile">
              {{ profile }}
            </option>
          </select>
        </td>
        <td>{{ user.sector?.name || 'Não definido' }}</td>
        <td>
          <select class="form-control" [(ngModel)]="selectedSectorId[user.id]">
            <option [ngValue]="null">Nenhum</option>
            <option *ngFor="let sector of availableSectors" [ngValue]="sector.id">{{ sector.name }}</option>
          </select>
        </td>
        <td>
          <button class="btn btn-primary" (click)="updateUser(user)">Salvar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="users.length === 0 && !errorMessage">
    <p>Nenhum usuário encontrado.</p>
  </div>
</div>
