<div class="form-container">
  <h2>Crie uma Nova Senha</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Nova Senha</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirme a Nova Senha</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
      <div *ngIf="form.hasError('mismatch') && form.get('confirmPassword')?.touched" class="error-text">
        As senhas não coincidem.
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid">Redefinir Senha</button>
  </form>
  <div *ngIf="message" [ngClass]="{'message-success': !isError, 'message-error': isError}">
    {{ message }}
  </div>
</div>
